<h1>Contact Us</h1>

<h3>email:</h3>
<span><%= @contactabouts.email %></span>

<h3>phone:</h3>
<span><%= @contactabouts.phone_number %></span>

<p><%= @contactabouts.contact_description %></p>

