<div class="product">

  <h2><%= link_to product.name, product %></h2>
  <span><%= image_tag product.image %></span>
  
  <p> 
    <b>Name: </b><%= product.name %>
  </p>

  <p> 
    <b>Price: </b><%= product.price %>
  </p>

</div>